<!DOCTYPE html>
<html>
  <head>
    <title>Aniv96</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@musashi_96" />
    <meta property="og:url" content="http:/localhost:3000" />
    <meta property="og:title" content="634anniv-fest" />
    <meta property="og:description" content="武蔵高中記念祭のホームページです" />
    <meta property="og:image" content="画像のURL" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag "header-image.jpg", class: "header-img" %>
    </header>
    <%= yield %>
    <footer>
      <%= image_tag "logo.jpg", class: "logo" %>
      <%= image_tag "musashi-logo.jpg", class: "logo" %>
    </footer>
  </body>
</html>
